@import "../templates/menu";
@import "../templates/footer";
@import "pages";
.wrapper {
	/*max-width: 1600px;*/
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;
	overflow: hidden;
}
html, body {
	height: 100%;
	min-height: 100%;
}
.wrapper {
	min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
p, div {
	font-family: 'Roboto', sans-serif;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.socials {
	li {
		margin-left: 26px;
		display: inline-block;
		&:first-child {
			margin-left: 0;
		}
		img {
			height: 14px;
		}
	}
}
.copyright {
	font-size: 13px;
	line-height: 13px;
	color: #a8a8a8;
}
.content-wrapper {
	margin: 0 130px;
	@media screen and (max-width: 991px) {
	  margin: 0;
	}
}