block vars
	- var menuTransparent = false

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/assets/img/icons.svg#icon-" + name)

doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href="/assets/js/slick/slick.css" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css")
		link(href="/css/script.min.css" rel="stylesheet")
		link(href="/assets/js/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet")
		block appStyles

		meta(name="viewport" content="width=device-width")
		title Title
	body

		div.page-preloader
			div(class="preloader")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")

		.wrapper
			include ./menu
			block menu

			block content

			include ./footer
			block footer

		.darkness


		script(src='/assets/js/jquery/jquery.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src='/assets/js/masonry/masonry.pkgd.min.js')
		script(src='/assets/js/slick/slick.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
		script(src="/assets/js/swiper-thumbnails/swiper.thumbnails.js")
		script(src='/assets/js/svg4everybody/svg4everybody.min.js')
		script.
			svg4everybody();
		script(src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js")
		script(src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js")
		script(src='/js/script.min.js')
		script(src='/assets/js/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js')
		script(src='/assets/js/jquery-maskedinput/jquery.maskedinput.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
		script(src='/assets/js/scrollmagic/ScrollMagic.min.js')
		script(src='/assets/js/scrollmagic/animation.gsap.min.js')
		script.
			objectFitImages();
		script.
			// Мобильное меню (открытие и затемнение остального контента)
			$('.navigation-mobile > .navbar-toggle').on('click', function() {

				$('.navigation-mobile').toggleClass('navigation-mobile-opened');

				if ( $('.navigation-mobile').hasClass('navigation-mobile-opened') ) {

					$(".darkness").css({display: "block"});
					$(".darkness").animate({opacity: "0.5"}, 200);

				} else {

					$(".darkness").animate({opacity: "0"}, 200, function() {
						$(".darkness").css({display: "none"});
					});

				}
			});

			// Закрытие меню по клику в область затемнённого контента
			$('.darkness').on('click', function() {

				$('.navigation-mobile').removeClass('navigation-mobile-opened');

				$(".darkness").animate({opacity: "0"}, 200, function() {
					$(".darkness").css({display: "none"});
				});
			});

			// Насильно убираем затемнение контента 
			// на десктопах (опираемся на media)
			var breakpoint = window.matchMedia('(max-width:991px)');

			var breakpointChecker = function breakpointChecker() {

				if (breakpoint.matches === false) {

					$(".darkness").css({display: "", opacity: ""});
					return;

				} else if (breakpoint.matches === true) {

					if ( $(".navigation-mobile").hasClass("navigation-mobile-opened") ) {

						$(".darkness").css({display: "block", opacity: 0.5});
					} else {
						$(".darkness").css({display: "", opacity: ""});
					}
					return;
				}
			};

			breakpoint.addListener(breakpointChecker);

			breakpointChecker();
		script.
			/* Preloader */

			$(window).on('load', function () {


			    var $preloader = $('.page-preloader'),
			        $spinner   = $preloader.find('.preloader');

				    $spinner.fadeOut();
				    $preloader.delay(500).fadeOut('slow');
			});
		script.
			// Анимация полоски для кнопки "Подробнее"
			// Сначала проверяем, есть ли такой блок, 
			// затем - вешаем класс для анимации

			if( $(".link-more-info").length ) {
				$(".link-more-info").hover(
					function () {
						$(".link-more-info div span").removeClass('link-more-out').addClass('link-more-over');
					},
				    function () {
						$(".link-more-info div span").removeClass('link-more-over').addClass('link-more-out');
					}
				);
			}
		script.
			// Анимация открытия корзины
			$('.basket').on('click', function() {

				$(this).toggleClass('basket-opened');

				if( $(this).hasClass('basket-opened') ) {

					var basketHeight = -( $(".basket-goods-panel").height() );
					$(".basket-goods-panel").css({bottom: basketHeight + "px", opacity: 1});

				} else {
					$(".basket-goods-panel").css({bottom: "100%", opacity: 0})
				}
			});
		script.
			// Скроллбар внутри корзины (корзина в меню)
			(function($){
				$(window).on("load",function(){
					$(".basket-wrapper ul.basket-goods").mCustomScrollbar({
						setHeight: 377,
						scrollEasing: "linear",
						theme:"minimal-dark"
					});
				});
			})(jQuery);
		script.
			// Раскрытие вложенных меню в футере
			$('ul.footer-top-mobile li > a').click(function(e){

				e.preventDefault();

				$(this).parent().siblings().find('div').slideUp();

				$(this).siblings("div").slideToggle();
			});
		script.
			// Анимация звёздочек у товаров (добавление товара в избранное)
			if ( $('.item-star').length ) {
				$('.item-star').click(function(){

					$(this).toggleClass("star-checked");
				});
			}
		block appScripts


