block vars
	- var menuTransparent = false

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/assets/img/icons.svg#icon-" + name)

doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href="/assets/js/slick/slick.css" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css")
		link(href="/css/script.min.css" rel="stylesheet")
		block appStyles

		meta(name="viewport" content="width=device-width")
		title Title
	body
		.wrapper
			include ./menu
			block menu

			block content

			include ./footer
			block footer


		script(src='/assets/js/jquery/jquery.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src='/assets/js/masonry/masonry.pkgd.min.js')
		script(src='/assets/js/slick/slick.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js")
		script(src="/assets/js/swiper-thumbnails/swiper.thumbnails.js")
		script(src='/assets/js/svg4everybody/svg4everybody.min.js')
		script.
			svg4everybody();
		script(src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js")
		script(src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js")
		script(src='/js/script.min.js')
		script.
			objectFitImages();
		block appScripts