.footer
	.footer-top
		ul.footer-logo
			li
				a(href="#")
					img(src="/assets/img/logo.png")
		ul.footer-top-desktop.hidden-xs.hidden-sm
			li.footer-main
				a(href="#") КОМПАНИЯ
			li
				a(href="#") О компании
			li
				a(href="#") Вакансии
			li
				a(href="#") Контакты
		ul.footer-top-desktop.hidden-xs.hidden-sm
			li.footer-main
				a(href="#") БИЗНЕС-РЕШЕНИЯ
			li
				a(href="#") Корпоративные
					br
					| подарки
		ul.footer-top-desktop.hidden-xs.hidden-sm
			li.footer-main
				a(href="#") ПОМОЩЬ
			li
				a(href="#") Доставка
			li
				a(href="#") Гарантия
			li
				a(href="#") Возврат
		ul.footer-top-desktop.hidden-xs.hidden-sm
			li.footer-main
				a(href="#") КОНТАКТЫ
			li
				a(href="#") Поддержка клиентов
			li
				a(href="#") Оптовым покупателям
		ul.footer-top-mobile.footer-top-mobile-main.hidden-md.hidden-lg
			li.footer-main
				a(href="#") КОМПАНИЯ
			li.footer-main
				a(href="#") ПОМОЩЬ
			li.footer-main
				a(href="#") КОНТАКТЫ
			li.footer-main
				a(href="#") БИЗНЕС-РЕШЕНИЯ
		ul.footer-top-mobile.footer-top-mobile-nav.hidden-md.hidden-lg
			li
				a(href="#") О компании
			li
				a(href="#") Вакансии
			li
				a(href="#") Контакты
			li
				a(href="#") Корпоративные подарки
			li
				a(href="#") Доставка
			li
				a(href="#") Гарантия
			li
				a(href="#") Возврат
			li
				a(href="#") Поддержка клиентов
			li
				a(href="#") Оптовым покупателям
		hr.footer-separatop.hidden-md.hidden-lg
		ul.footer-top-contacts
			li.footer-main ПРЕДСТАВИТЕЛЬСТВА TESLA
			li в Москве
			li.footer-phone
				a(href="tel:8 800 123-80-76") 8 800 123-80-76
			li в Санкт-Петербурге
			li.footer-phone
				a(href="tel:8 800 123-80-76") 8 800 123-80-76
	.footer-bottom
		.footer-bottom-copyright © 2017 Tesla Goods Co. ltd
		a.footer-bottom-privacy(href="#") Политика конфеденциальности
		a.footer-bottom-mail(href="mailto:info@teslagoods.com") info@teslagoods.com
		a.footer-bottom-hashtag(href="#") #teslagoods
		ul.footer-bottom-socials
			li
				a.footer-bottom-socials.socials-facebook(href="#")
					img(src="/assets/img/facebook.svg")
			li
				a.footer-bottom-socials.socials-instagram(href="#")
					img(src="/assets/img/instagram.svg")
			li
				a.footer-bottom-socials.socials-telegramm(href="#")
					img(src="/assets/img/telegram.svg")