.navigation {
	margin: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
	transform: translateZ(0);
	transition: all 0.5s; /* Effect for switching from .fixed to static */

	.nav-wrapper {
		width: 100%;
		position: relative;
		z-index: 2;
		background-color: #1b1e21;
		transition: background .2s ease-in;
	}

	&.transparent {

		position: absolute;

		.nav-wrapper {
			background-color: transparent;
		}

		.delivery-city, 
		.language-switcher {
			&-dropdown {
				background: transparent;
			}
		}
	}

	.content-wrapper {
		height: 60px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 0px;
		position: relative;
	}

	.dropdown-styling {
		position: absolute;
		right: 0;
		top: 100%;
		overflow: hidden;
		background: transparent;
		box-shadow: none;
		border: none;
	}

	&-logo {
		padding: 16px 0 19px 21px;
		display: inline-block;

		img {
			height: 30px;
		}

		@media screen and (max-width: 991px) {
			margin: 0 auto;
			padding: 16px 0 19px 0px;
		}
	}
	.left-menu {
		display: inline-block;

		@media screen and (max-width: 991px) {
			display: none;
		}
		> li {
			display: inline-block;
			font-size: 14px;
			line-height: 14px;
			color: #cccccc;
			padding-top: 24px;
			margin: 0 20px;
			position: relative;
			a {
				color: #cccccc;
				&:hover {
					background: transparent;
					color: #ffffff;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.language-switcher {

		&-current {
			position: relative;
			cursor: pointer;
			padding-right: 14px;

			&:after {
				content: "";
				position: absolute;
				right: 0px;
				top: 5px;
				height: 5px;
				width: 5px;
				border: 1px solid #cccccc;
				border-top: none;
				border-right: none;
				transform: rotate(-45deg);
			}
		}
		&-dropdown {
			@extend .dropdown-styling;

			left: -20px;
			background: #1b1e21;
			min-width: 90px;

			li {
				a {
					&:focus {
						background-color: transparent;
						outline: none;
					}
				}
			}
		}
	}

	.delivery-city {
		&-current {
			position: relative;
			color: #2096d0;
			cursor: pointer;
			padding-right: 14px;
			&:after {
				content: "";
				position: absolute;
				right: 0px;
				top: 5px;
				height: 5px;
				width: 5px;
				border: 1px solid #2096d0;
				border-top: none;
				border-right: none;
				transform: rotate(-45deg);
			}
			> span {
				border-bottom: 1px dotted #2096d0;
			}
		}
		&-dropdown {
			@extend .dropdown-styling;
			left: 49px;
			right: auto;
			background: #1b1e21;
			li {
				a {
					color: #cccccc;

					&:focus {
						background-color: transparent;
						outline: none;
					}

					&:hover {
						background: transparent;
						color: #2096d0;
					}
				}
			}
		}
	}

	.main-nav {
		display: inline-block;
		font-size: 13px;
		line-height: 60px;
		li {
			display: inline-block;
			padding: 0px 18px;
			transition: background .1s ease-in;

			&:hover {
				background: #2095ce;
			}
		}
		a {
			color: #ffffff;
			display: block;
			height: 100%;

			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}

	.phone {
		padding: 15px 0;
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
		cursor: text;
	}

	.basket {
		height: 60px;
		width: 60px;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
		line-height: 60px;
		position: relative;
		background: rgba(32, 149, 206, 0);
		transition: background .2s ease-in;

		&-icon {
			width: 17px;
			height: 20px;
		}
		&-count {
			position: absolute;
			top: 18px;
			left: 50%;
			height: 14px;
			width: 14px;
			background-color: #2095ce;
			border-radius: 50%;
			line-height: normal;
			font-size: 9px;
			color: #ffffff;
			line-height: 14px;
			transition: all .3s ease-in;
		}
	}

	.basket-opened {
		background: rgba(32, 149, 206, 1);

		.basket-count {
			color: #1a1d20;
			background-color: #ffffff;
		}
	}

	.navigation-mobile {
		width: 60px;
		height: 60px;
		display: flex;

		.navbar-toggle {
			float: left;
			margin: 0;
			border-radius: 0;
			z-index: 1000;
			display: block;
			padding: 9px 13px;
			height: 60px;
			width: 60px;
			.icon-bar {
				background-color: #ffffff;
			}
			.icon-bar {
				transition: .1s ease;
			}
		}
		.navbar-toggle.collapsed .icon-bar:nth-child(2) {
			transform: rotate(0) translateY(0) translateX(0);
		}
		.navbar-toggle.collapsed .icon-bar:nth-child(3) {
			opacity: 1
		}
		.navbar-toggle.collapsed .icon-bar:nth-child(4) {
			transform: rotate(0) translateY(0) translateX(0);
		}

		.navigation-mobile-panel {
			transform: translateX(-100%);
			transition: transform .2s ease-in;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 260px;
			background-color: #1b1e21;
			padding: 0 30px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 999;
			min-height: 100vh;

			.delivery-city {
				display: flex;
				padding: 22px 0 0 50px;
				height: 60px;
				float: right;
				font-size: 14px;
				color: #cccccc;

				&-text {
					flex-shrink: 0;
					flex-grow: 0;
					margin-right: 4px;
				}
				&-current {
					color: #2096d0;
					position: relative;
					cursor: pointer;
					padding-right: 14px;

					&:after {
						content: "";
						position: absolute;
						right: 0px;
						top: 5px;
						height: 5px;
						width: 5px;
						border: 1px solid #2096d0;
						border-top: none;
						border-right: none;
						transform: rotate(-45deg);
					}
					> span {
						border-bottom: 1px dotted #2096d0;
					}
				}
				.dropdown-menu {
					top: 58px;
					left: 60px;
					right: auto;
					background: #ffffff;
					border-radius: 0px;
					width: 200px;

					li {
						padding: 2px 0;
					}
					li > a {
						white-space: normal;
						color: #333333;

						&:hover {
							color: #2096d0;
							background-color: #f8f9fa;
						}
					}
				}
			}

			.main-nav {
				clear: both;
				display: block;

				li.panel {
					background-color: transparent;
					border: none;
					border-radius: 0;
					box-shadow: none;
				}

				li {
					display: block;
					font-size: 14px;
					line-height: 20px;
					border-bottom: 1px solid #2b2e31;
					margin: 0;

					&:hover {
						background: transparent;
					}

					&:last-child {
						border: none;
					}

					a {
						padding: 25px 0;
						display: block;

						&:hover {
							text-decoration: none;
						}
					}

					.subitem {
						li {
							border: none;

							a {
								padding: 8px 0;
								color: #ffffff;
							}

							&:last-child {
								a {
									padding-bottom: 35px;
								}
							}
						}
					}

				}
			}
			.navigation-mobile-bottom {
				padding: 34px 0;
				margin-top: auto;

				.navigation-mobile-phone {
					margin-bottom: 40px;

					&-text {
						font-size: 13px;
						line-height: 22px;
						color: #b9b9ba;
					}
					&-number {
						font-size: 18px;
						color: #ffffff;
					}
				}
				.navigation-mobile-socials {
					li {
						margin-left: 26px;
						display: inline-block;

						&:first-child {
							margin-left: 0;
						}
					}
					img {
						height: 14px;
					}
				}
			}
		}
	}

	.navigation-mobile.navigation-mobile-opened {

		min-height: 100vh;

		.navbar-toggle {
			background-color: #2096d0;
		}
		.navbar-toggle .icon-bar {
			width: 28px;
			background: #fff;
		}
		.navbar-toggle .icon-bar:nth-child(2) {
			transform: rotate(-45deg) translateY(5px) translateX(-5px);
		}
		.navbar-toggle .icon-bar:nth-child(3) {
			opacity: 0
		}
		.navbar-toggle .icon-bar:nth-child(4) {
			transform: rotate(45deg) translateY(-4px) translateX(-3px);
		}

		.navigation-mobile-panel {
			transform: translateX(0);
		}
	}
}

.basket-wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 130px;
	position: relative;
	z-index: 1;
	height: 0px;
	background-color: transparent;

	@media screen and (max-width: 991px) {
		padding: 0;
	}

	.basket-goods-panel {

		opacity: 0;
		transition: all 0.4s ease-out;
		position: absolute;
		bottom: 100%;
		right: 0px;
		width: 300px;
		background-color: #ffffff;
		cursor: auto;
		line-height: 0;

		.basket-goods {
			font-size: 14px;
			line-height: 22px;
			padding: 20px 20px 0 20px;
		}
		.basket-order {
			text-transform: uppercase;
			letter-spacing: 2px;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background-color: #8ac551;
			border: none;
			color: #ffffff;
			font-size: 11px;
			transition: background .2s ease-out;
			-moz-transition: background .2s ease-out;
			-webkit-transition: background .2s ease-out;
			-o-transition: background .2s ease-out;

			&:hover {
				background: #81ba4a;
			}

			&:active {
				background: #8eca55;
			}
		}
	}

	.basket-goods-item {
		border-bottom: 1px solid #e8e8e8;
		padding: 30px 0 29px;

		&:last-child {
			border: none;
		}
		&:first-child {
			padding-top: 0;
		}
		.item-top {
			clear: both;
			display: flex;
			justify-content: flex-start;
			position: relative;
		}
		.item-img {
			width: 60px;
			height: 60px;
			text-align: center;
			border: 1px solid #e8e8e8;
			white-space: nowrap;
			flex-grow: 0;
			flex-shrink: 0;

			&:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			img {
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.item-description {
			padding-left: 20px;
			text-align: left;
		}
		.item-title {
			color: #333333;
			font-size: 16px;
			line-height: 16px;
		}
		.item-properties {
			color: #666666;
			padding-top: 6px;
		}
		.item-delete {
			width: 12px;
			height: 14px;
			vertical-align: top;
			line-height: 0;
			margin-left: auto;
			flex-grow: 0;
			flex-shrink: 0;
		}
		.item-bottom {
			font-size: 0;
			text-align: left;
			padding-top: 15px;

			> * {
				font-size: 14px;
				line-height: 30px;
				display: inline-block;
				color: #666666;
			}
			.item-quantity {
				width: 125px;
				> * {
					display: inline-block;
				}
			}
			.item-buttons {
				width: 60px;
				line-height: 27px;
				border: 1px solid #e8e8e8;

				> button {
					width: 50%;
					padding: 0;
					border: none;
					background-color: #ffffff;
					font-size: 16px;
					outline: none;
					transition: background .2s ease-out;
					-moz-transition: background .2s ease-out;
					-webkit-transition: background .2s ease-out;
					-o-transition: background .2s ease-out;

					&:hover {
						background-color: #f7f7f7;
					}

					&:active {
						background-color: #f3f3f3;
					}

					&:first-child {
						border-right: 1px solid #e8e8e8;
					}
				}
			}
			.item-price {
				float: right;

				&-sum {
					display: inline-block;
					color: #2096d0;
				}
				&-valute {
					display: inline-block;
					color: #666666;
				}
			}
		}
	}
}

.nav-fixed {
	position: fixed;
	animation: slide-down 0.7s;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}


	// temporarily
	.navigation .navigation-mobile .navigation-mobile-panel .delivery-city,
	.navigation .left-menu > li.language-switcher,
	.navigation .left-menu > li.delivery-city {
		display: none;
	}
	.navigation .navigation-mobile .navigation-mobile-panel .main-nav {
		margin-top: 60px;
	}