.catalog_page {
	margin-top: -60px;
	background: rgba(244,242,242,1);
	padding-bottom: 100px;
	&-heading-wrap {
		padding-bottom: 140px;
		background: #e7e7e7;
	}
	&-heading {
		min-height: 320px;
		position: relative;
		color: #333333;
		@media screen and (max-width: 991px) {
			//height: 60vh;
			min-height: 360px;
		}
		picture img {
			max-width: 100%;
			height: auto;
			margin-top: 60px;
			@media screen and (max-width: 991px) {
				width: 100%;
				height: auto;
				max-width: none;
			}
		}
		&-text {
			position: absolute;
			bottom: 78px;
			padding: 0 40px;
			@media screen and (max-width: 500px) {
				bottom: 40px;
			}
			h1 {
				font-size: 60px;
				font-weight: lighter;
				@media screen and (max-width: 1080px) {
					font-size: 50px;
					line-height: 55px;
				}
				@media screen and (max-width: 500px) {
					font-size: 30px;
					line-height: 35px;
				}
			}
			p {
				font-size: 18px;
				font-weight: lighter;
				line-height: 30px;
				max-width: 420px;
				@media screen and (max-width: 1080px) {
					font-size: 16px;
					line-height: 25px;
				}
				@media screen and (max-width: 991px) {
					font-size: 14px;
					line-height: 25px;
				}
			}
		}
	}

	&-catalog {
		margin-top: -140px;
		&-content {
			margin: 0 -10px;
			padding: 0;
		}
		&-item {
			margin: 0 0 20px 0;
			padding: 0 10px;
			overflow: hidden;
			position: relative;
			@media screen and (max-width: 767px) {
				//padding: 0;
				//margin: 0;
			}
			.catalog-item-star {
				position: absolute;
				top: 15px;
				right: 25px;
				width: 16px;
				height: 16px;
				cursor: pointer;
				z-index: 2;
			}
			.catalog-item {
				background-color: #fcfcfc;
				display: block;
				width: 100%;
				position: relative;
				&:hover {
					text-decoration: none;
				}
				img {
					object-fit: cover;
					font-family: 'object-fit: cover;';
					width: 100%;
					height: 100%;
				}
				&-text {
					position: absolute;
					z-index: 2;
					bottom: 0px;
					left: 0;
					right: 0;
					width: 100%;
					text-align: center;
					padding: 0 10px 29px;
					text-decoration: none;
				}
				&-title {
					color: #333333;
					font-size: 16px;
					line-height: 25px;
				}
				&-price {
					color: #2096d0;
					> span {
						color: #999999;
					}
				}
			}
		}
		.dark-image {
			.catalog-item-title {
				color: #f4f2f2;
			}
			.catalog-item-price span {
				color: #f4f2f2;
			}
		}
	}
}