extends ./../templates/common

block appScripts
	script(src='/js/catalog.min.js')

block append content

	#parallaxanchor

	.catalog_page
		.catalog_page-heading
			.catalog_page-heading-content
				picture
					source(srcset="/assets/img/catalog_main.png" media="(min-width: 500px)")
					source(srcset="/assets/img/catalog_main_phone.png" media="(min-width: 300px)")
					img(src="/assets/img/catalog_main.png")

				.content-wrapper
					.catalog_page-heading-content-text
						h1 Магнитные кабели
						p Мы создали самый удобный и надёжный кабель для iPhone и Android смартфонов.

		.catalog_page-catalog
			.content-wrapper
				.catalog_page-catalog-content.row

					+teslaItem(
						'/page-catalog/1.png',
						'Магнитный кабель (1м)',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/page-catalog/2.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'1 800',
						'1 100'
						)

					+teslaItem(
						'/page-catalog/3.png',
						'Магнитный кабель (1,5м)',
						'Made for iPhone and Qi Compatible Devices',
						'2 500',
						'1 990'
						)

					+teslaItem(
						'/page-catalog/4.png',
						'Магнитный кабель (1,5м)',
						'Made for iPhone and Qi Compatible Devices',
						'6 600',
						'5 800'
						)

					+teslaItem(
						'/page-catalog/5.png',
						'Магнитный кабель (1,5м)',
						'Made for iPhone and Qi Compatible Devices',
						'6 600',
						'5 800'
						)

					+teslaItem(
						'/page-catalog/6.png',
						'Чехол состаренная кожа',
						'Made for iPhone and Qi Compatible Devices',
						'6 600',
						'5 800'
						)

					+teslaItem(
						'/page-catalog/7.png',
						'Powerbank',
						'Made for iPhone and Qi Compatible Devices',
						'6 600',
						'5 800'
						)

					+teslaItem(
						'/page-catalog/8.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)

					+teslaItem(
						'/page-catalog/10.png',
						'Магнитный кабель (1м)',
						'Made for iPhone and Qi Compatible Devices',
						'2 300',
						'1 990'
						)