extends ./../templates/common

block appScripts
	script(src='/js/catalog.min.js')

block append content
	.catalog_page
		.catalog_page-heading-wrap
			.catalog_page-heading
				//img(src="/assets/img/catalog_main.png")

				picture
					source(srcset="/assets/img/catalog_main.png" media="(min-width: 500px)")
					source(srcset="/assets/img/catalog_main_phone.png" media="(min-width: 300px)")
					img(src="/assets/img/catalog_main.png")

				.content-wrapper
					.catalog_page-heading-text
						h1 Магнитные кабели
						p Мы создали самый удобный и надёжный кабель для iPhone и Android смартфонов.

		.catalog_page-catalog
			.catalog_page-catalog-wrapper.content-wrapper
				.catalog_page-catalog-content.row
					.grid-sizer.col-xs-1

					.catalog_page-catalog-item.col-sm-6.col-xs-12
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item
							picture
								source(srcset="/assets/img/page-catalog/1.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/1.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/1.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Магнитный кабель (1м)
									.catalog-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color1(name="group1" type="radio" checked="true")
											label(for="color1")
										p
											input#color2(name="group1" type="radio")
											label(for="color2")
										p
											input#color3(name="group1" type="radio")
											label(for="color3")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-3.col-xs-6
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/2.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/2.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/2.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Коннектор MicroUSB
									.catalog-item-price 1100
										=" "
										span Р
									form.pick-color
										p
											input#color4(name="group1" type="radio" checked="true")
											label(for="color4")
										p
											input#color5(name="group1" type="radio")
											label(for="color5")
										p
											input#color6(name="group1" type="radio")
											label(for="color6")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-3.col-xs-6
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/3.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/3.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/3.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Магнитный кабель (1,5м)
									.catalog-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color7(name="group1" type="radio" checked="true")
											label(for="color7")
										p
											input#color8(name="group1" type="radio")
											label(for="color8")
										p
											input#color9(name="group1" type="radio")
											label(for="color9")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-4.col-xs-6
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/4.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/4.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/4.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Магнитный кабель (1,5м)
									.catalog-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color10(name="group1" type="radio" checked="true")
											label(for="color10")
										p
											input#color11(name="group1" type="radio")
											label(for="color11")
										p
											input#color12(name="group1" type="radio")
											label(for="color12")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-4.col-xs-6
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/5.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/5.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/5.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Магнитный кабель (1,5м)
									.catalog-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color13(name="group1" type="radio" checked="true")
											label(for="color13")
										p
											input#color14(name="group1" type="radio")
											label(for="color14")
										p
											input#color15(name="group1" type="radio")
											label(for="color15")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-4.col-xs-12
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/6.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/6.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/6.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Чехол состаренная кожа
									.catalog-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color16(name="group1" type="radio" checked="true")
											label(for="color16")
										p
											input#color17(name="group1" type="radio")
											label(for="color17")
										p
											input#color18(name="group1" type="radio")
											label(for="color18")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-3.col-xs-6
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/7.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/7.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/7.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Powerbank
									.catalog-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color19(name="group1" type="radio" checked="true")
											label(for="color19")
										p
											input#color20(name="group1" type="radio")
											label(for="color20")
										p
											input#color21(name="group1" type="radio")
											label(for="color21")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-3.col-xs-6
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/8.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/8.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/8.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Коннектор Type C
									.catalog-item-price 860
										=" "
										span Р
									form.pick-color
										p
											input#color22(name="group1" type="radio" checked="true")
											label(for="color22")
										p
											input#color23(name="group1" type="radio")
											label(for="color23")
										p
											input#color24(name="group1" type="radio")
											label(for="color24")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-6.col-xs-12.dark-image
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/9.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/9.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/9.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Магнитный кабель (1м)
									.catalog-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color25(name="group1" type="radio" checked="true")
											label(for="color25")
										p
											input#color26(name="group1" type="radio")
											label(for="color26")
										p
											input#color27(name="group1" type="radio")
											label(for="color27")
									.button
										span В корзину
					.catalog_page-catalog-item.col-sm-6.col-xs-12
						img.catalog-item-star(src="/assets/img/star.svg")
						.catalog-item(href="#")
							picture
								source(srcset="/assets/img/page-catalog/10.png" media="(min-width: 768px)")
								source(srcset="/assets/img/page-catalog/mobile/10.png" media="(min-width: 300px)")
								img(src="/assets/img/page-catalog/10.png")
							.catalog-item-text
								.catalog-item-text-wrap
									.catalog-item-title Магнитный кабель (1м)
									.catalog-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color28(name="group1" type="radio" checked="true")
											label(for="color28")
										p
											input#color29(name="group1" type="radio")
											label(for="color29")
										p
											input#color30(name="group1" type="radio")
											label(for="color30")
									.button
										span В корзину