.index_page {
	margin-top: -60px;
	background: rgba(244,242,242,1);
	padding-bottom: 100px;

	&-slider {
		height: 100vh;
		min-height: 320px;
		position: relative;

		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			font-family: 'object-fit: cover;';
		}

		&-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);
			color: #ffffff;

			h1 {
				font-size: 60px;
				font-weight: 300;
				@media screen and (max-width: 991px) {
				  font-size: 30px;
				  line-height: 35px;
				}
			}

			span {
				font-size: 18px;
				line-height: 30px;
				font-weight: 300;

				@media screen and (max-width: 991px) {
				  font-size: 14px;
				  line-height: 25px;
				}
			}
		}

		&-circle {
			display: block;
			width: 10px;
			height: 10px;
			background: #ffffff;
			border: 2px solid rgba(0,0,0,0);
			background-clip: padding-box;
			border-radius: 50%;
		}

		.circle-blue {
			display: block;
			width: 10px;
			height: 10px;
			background: transparent;
			border: 1px solid #2096d0;
			border-radius: 50%;
		}

		&-bottom {
			position: absolute;
			bottom: 35px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding: 0 40px;

			@media screen and (max-width: 991px) {
			  display: none;
			}
			.scroll-down {
				border: 2px solid #2096d0;
				border-radius: 10px;
				width: 20px;
				height: 37px;
				position: relative;

				&-pin {
					border: 2px solid #2096d0;
					border-radius: 50%;
					width: 2px;
					height: 2px;
					position: absolute;
					top: 20%;
					left: 50%;
					transform: translateX(-50%);
					animation: scrollDown 1s infinite ease-in;
				}
			}
		}
	} //slider - end


	&-catalog {
		margin-top: 130px;
		background: rgba(244,242,242,1);
		background: linear-gradient(to bottom, rgba(244,242,242,1) 0%, rgba(244,242,242,1) 50%, rgba(231,231,231,1) 50%, rgba(231,231,231,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f2', endColorstr='#e7e7e7', GradientType=0 );

		@media screen and (max-width: 991px) {
			margin: 0;
		}

		&-content {
			margin: 0;
			width: 100%;
			position: relative;
		}

		&-item {
			margin: 0;
			padding: 0;
			overflow: hidden;
			position: relative;

			.catalog-item-content {
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 40px;
				font-size: 30px;
				line-height: 30px;
				font-weight: 300;
				cursor: pointer;
				display: flex;
				justify-content: space-between;

				@media screen and (max-width: 600px) {
					padding: 20px;
					font-size: 20px;
					line-height: 20px;
				}

				&:hover {
					text-decoration: none;
				}
				&.black {
					color: #333333;
				}
				&.white {
					color: #ffffff;
				}
				&.top-left {
					justify-content: flex-start;
					text-align: left;
				}
				&.top-right {
					justify-content: flex-end;
					text-align: right;
				}
				&.bottom-left {
					flex-direction: column;
					justify-content: flex-end;
					text-align: left;
				}
				&.bottom-right {
					flex-direction: column;
					justify-content: flex-end;
					text-align: right;
				}
			}
			img {
				object-fit: cover;
				font-family: 'object-fit: cover;';
				width: 100%;
				height: 100%;
			}
		}
	}

	&-popular {
		padding: 130px 0 0px;
		background: rgba(231,231,231,1);

		@media screen and (max-width: 991px) {
			padding: 30px 0 0px;
		}

		&-wrapper {
			background: linear-gradient(to bottom, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 50%, rgba(244,242,242,1) 50%, rgba(244,242,242,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f4f2f2', GradientType=0 );

			@media screen and (max-width: 991px) {
				background: #e7e7e7;
			}

			> .content-wrapper {
				display: flex;

				@media screen and (max-width: 991px) {
					flex-direction: column;
				}
			}

			.popular-controls {
				padding: 0 45px 0 0;
				-webkit-box-flex: 0;
				-webkit-flex-grow: 0;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-negative: 0;

				@media screen and (max-width: 991px) {
					padding: 0 15px 0 15px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-bottom: 30px;
				}
				&-title {
					margin: 20px 0 0px;

					@media screen and (max-width: 991px) {
						margin-top: 0px;
					}

					h3 {
						font-size: 25px;
						line-height: 30px;
						font-weight: bold;
						color: #333333;
						margin: 0;

						@media screen and (max-width: 991px) {
							font-size: 20px;
							line-height: 25px;
						}
					}	
				}
				&-controls {
					margin-top: 59px;
					width: 101px;
					display: flex;
					justify-content: space-between;
					-webkit-box-flex: 0;
					-ms-flex-positive: 0;
					flex-grow: 0;
					-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;

					@media screen and (max-width: 991px) {
						margin-top: 0px;
					}
					> div {
						height: 50px;
						width: 50px;
						background: #e7e7e7;
						display: flex;
						cursor: pointer;
						@media screen and (max-width: 991px) {
							background: #ffffff;
						}
						&:hover {
							.icon {
								fill: #2096d0;
							}
						}
						.icon {
							width: 7px;
							height: 12px;
							margin: auto;
							fill: #000000;
						}
					}
					.swiper-button-disabled {
						&:hover {
							.icon {
								fill: #b9b9b9;
							}
						}
						.icon {
							fill: #b9b9b9;
						}
					}
				}
			}
		}

		&-slider {
			margin: 0 0;
			padding: 0;
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			width: 100%;

			@media screen and (max-width: 991px) {
				width: auto;
				margin-left: 15px;
				margin-right: 15px;
			}
			@media screen and (max-width: 480px) {
				margin: 0;
			}
			&-wrapper {
				width: 100%;
				flex-grow: 0;
				flex-shrink: 0;
			}
			&-item {
				position: relative;
				background-color: #fcfcfc;

				.slider-item-star {
					position: absolute;
					top: 15px;
					right:13px;
					width: 16px;
					height: 16px;
					cursor: pointer;
					z-index: 2;
				}
				.slider-item {
					display: block;
					width: 100%;
					height: 280px;
					display: flex;

					&:hover {
						text-decoration: none;
					}
					img {
						object-fit: cover;
						font-family: 'object-fit: cover;';
						position: absolute;
						left: 50%;
						bottom: 0;
						height: auto;
						max-width: 99.5%;
						transform: translateX(-50%);

						@media screen and (max-width: 420px) {
							bottom: auto;
							top: 20px;
						}
						&.pull-right {
							right: 0;
							left: auto;
							transform: translateX(0);
						}
					}
					&-text {
						position: relative;
						z-index: 2;
						align-self: flex-end;
						width: 100%;
						text-align: center;
						padding: 0 10px 29px;
						text-decoration: none;
					}
					&-title {
						color: #333333;
						font-size: 16px;
						font-weight: 300;
						line-height: 25px;
					}
					&-price {
						color: #2096d0;
						> span {
							color: #999999;
						}
					}
				}
			}
		}
	}
}

@keyframes scrollDown {
	0% {
		top: 20%;
		opacity: 1;
	}
	100% {
		top: 80%;
		opacity: 0;
	}
}