body.chrm {
	.mainslider-controls-next {
		margin-top: -2px;
	}
}

@keyframes slider-first-half {
	0% {
		transform: translateX(100%)
	}
	100% {
		transform: translateX(0%)
	}
}
@keyframes slider-second-half {
	0% {
		transform: translateX(-100%)
	}
	100% {
		transform: translateX(0%)
	}
}
@keyframes slider-header-out {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%);
		opacity: 0;
	}
}
@keyframes slider-text-out {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(50%);
		opacity: 0;
	}
}

.index_page {
	background: rgba(244,242,242,1);
	padding-bottom: 100px;

	&-slider {
		height: 100vh;
		position: relative;
		min-height: 530px;
		overflow: hidden;

		@media screen and (max-width: 991px) {
			min-height: 370px;
		}

		&-wrapper {
			min-height: 530px;
			width: 99999999px;

			@media screen and (max-width: 991px) {
				min-height: 370px;
			}
		}
		canvas {
			animation: slider-first-half 1s ease-in-out forwards;
			width: 100%;

			&:last-child {
				animation: slider-second-half 1s ease-in-out forwards;
			}
		}
		&-item {
			float: left;
			width: 100vw;
			font-size: 0;

			&--image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				font-family: 'object-fit: cover;';
			}
			&.removing {
				.index_page-slider-content {
					.index_page-slider-content-top {
						animation: slider-header-out .5s ease-in-out forwards;
					}
					.index_page-slider-content-bottom {
						animation: slider-text-out .5s ease-in-out forwards;
					}
				}
			}
			&.inserting {
				.index_page-slider-content {
					.index_page-slider-content-top {
						opacity: 0;
						animation: slider-text-out .2s ease-in-out forwards;
						animation-direction: reverse;
						animation-delay: .8s;
					}
					.index_page-slider-content-bottom {
						opacity: 0;
						animation: slider-header-out .2s ease-in-out forwards;
						animation-direction: reverse;
						animation-delay: .8s;
					}
				}
			}
		}

		.center-wrapper {
			position: absolute;
			z-index: 1;
			height: 100%;
			top: 0px;
			left: 50%;
			transform: translatex(-50%);
		}

		&-content {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			color: #ffffff;
			font-weight: 100;
			height: 100%;
			max-width: 610px;
			width: 100%;

			.link-more-info  {
				margin-top: 23px;
				max-width: 180px;
				font-size: 11px;
			}

			@media screen and (max-width: 767px) {
				.link-more-info {
					margin-top: 18px;
					font-weight: 400;
				}
			}

			&-top {
				display: flex;
				height: 50%;

				@media screen and (max-width: 991px) {
					padding: 0 17px;
				}
			}
			&-bottom {
				display: flex;
				flex-direction: column;
				height: 50%;

				@media screen and (max-width: 991px) {
					padding: 0 17px 10px;
				}
			}
			h1 {
				font-size: 60px;
				max-width: 630px;
				font-weight: 300;
				margin-bottom: 15px;
				align-self: flex-end;

				@media screen and (max-width: 1090px) {
					font-size: 50px;
				}

				@media screen and (max-width: 991px) {
				  font-size: 30px;
				  line-height: 35px;
				}
			}

			span, p {
				font-size: 18px;
				line-height: 30px;

				@media screen and (max-width: 991px) {
					font-size: 15px;
					line-height: 19px;
				}
				@media screen and (max-width: 767px) {
					font-size: 14px;
					line-height: 25px;
					font-weight: 300;
				}
			}
		}

		.swiper-pagination {
			width: 10px;
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);

			@media screen and (max-width: 991px) {
				width: auto;
				display: flex;
				justify-content: center;
				top: auto;
				bottom: 45px;
				left: 50% !important;
				transform: translateX(-50%);
			}


			&-bullet{
				display: block;
				width: 10px;
				height: 10px;
				background: #ffffff;
				border: 2px solid rgba(0,0,0,0);
				background-clip: padding-box;
				border-radius: 50%;
				margin: 22px 0px 0px !important;
				opacity: 1;

				@media screen and (max-width: 991px) {
					margin: 0px 13px 0px !important;
				}
			}

			&-bullet-active {
				display: block;
				width: 10px;
				height: 10px;
				background: transparent;
				border: 1px solid #2096d0;
				border-radius: 50%;
			}
		}

		.mainslider-controls {
			right: 0px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			width: 150px;

			&-next, &-prev {

				display: flex;
				cursor: pointer;

				&-img {
					position: relative;
					z-index: 1;
					width: 100px;
					height: 100px;
					overflow: hidden;
					display: flex;

					&--wrap {

						width: 100px;
						height: 100px;
						position: relative;

						transition: all .5s ease-in;
						-moz-transition: all .5s ease-in;
						-webkit-transition: all .5s ease-in;
						-o-transition: all .5s ease-in;

						&.changeCtrlImg {
							margin-left: -100px;
						}

						img {
							width: 100px;
							height: 100px;
							display: block;
						}
					}
				}
				svg {
					position: relative;
					z-index: 2;
					margin: auto 0px;
					width: 52px;
					height: 26px;
					fill: #ffffff;
					cursor: pointer;
					transition: all .2s ease-out;
					-moz-transition: all .2s ease-out;
					-webkit-transition: all .2s ease-out;
					-o-transition: all .2s ease-out;
				}
				&:hover {
					svg {
						fill: #2096d0;
					}
				}
			}
			&-next {
				justify-content: flex-end;

				svg {
					margin-right: -15px;
				}

				&:hover {
					svg {
						margin-right: -10px;
					}
				}
			}
			&-prev {
				svg {
					margin-left: -15px;
				}

				&:hover {
					svg {
						margin-left: -10px;
					}
				}
			}
			@media screen and (max-width: 991px) {
				display: none;
			}
		}

		&-bottom {
			position: absolute;
			z-index: 1;
			bottom: 35px;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			max-width: 1200px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding: 0 24px;

			@media screen and (max-width: 991px) {
			  display: none;
			}
			.scroll-down {
				border: 2px solid #2096d0;
				border-radius: 10px;
				width: 20px;
				height: 37px;
				position: relative;

				&-pin {
					border: 2px solid #2096d0;
					border-radius: 50%;
					width: 2px;
					height: 2px;
					position: absolute;
					top: 20%;
					left: 50%;
					transform: translateX(-50%);
					animation: scrollDown 1s infinite ease-in;
				}
			}
		}
	} //slider - end


	&-catalog {
		margin-top: 130px;
		background: rgba(244,242,242,1);
		background: linear-gradient(to bottom, rgba(244,242,242,1) 0%, rgba(244,242,242,1) 50%, rgba(231,231,231,1) 50%, rgba(231,231,231,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f2', endColorstr='#e7e7e7', GradientType=0 );

		@media screen and (max-width: 991px) {
			margin: 0;
		}

		&-content {
			margin: 0;
			width: 100%;
			position: relative;
		}

		&-item {
			margin: 0;
			padding: 0;
			overflow: hidden;
			position: relative;

			.catalog-item-content {
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 40px;
				font-size: 30px;
				line-height: 30px;
				font-weight: 300;
				cursor: pointer;
				display: flex;
				justify-content: space-between;

				> div {
					transition: color .2s ease-out;
					-moz-transition: color .2s ease-out;
					-webkit-transition: color .2s ease-out;
					-o-transition: color .2s ease-out;
				}

				&:focus,
				&:hover,
				&:active {
					> div {
						text-decoration: none;
						color: #2096d0;
					}
				}

				@media screen and (max-width: 600px) {
					padding: 20px;
					font-size: 20px;
					line-height: 20px;
				}

				&:hover {
					text-decoration: none;
				}
				&.black {
					color: #333333;
				}
				&.white {
					color: #ffffff;
				}
				&.top-left {
					justify-content: flex-start;
					text-align: left;
				}
				&.top-right {
					justify-content: flex-end;
					text-align: right;
				}
				&.bottom-left {
					flex-direction: column;
					justify-content: flex-end;
					text-align: left;
				}
				&.bottom-right {
					flex-direction: column;
					justify-content: flex-end;
					text-align: right;
				}
			}
			img {
				object-fit: cover;
				font-family: 'object-fit: cover;';
				width: 100%;
				height: 100%;
			}
		}
	}

	&-popular {
		padding: 130px 0 0px;
		background: rgba(231,231,231,1);

		@media screen and (max-width: 991px) {
			padding: 30px 0 0px;
		}

		&-wrapper {
			background: linear-gradient(to bottom, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 50%, rgba(244,242,242,1) 50%, rgba(244,242,242,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f4f2f2', GradientType=0 );

			@media screen and (max-width: 991px) {
				background: #e7e7e7;
			}

			> .content-wrapper {
				display: flex;
				position: relative;
				top: 30px;

				@media screen and (max-width: 991px) {
					flex-direction: column;
				}
			}

			.popular-controls {
				padding: 0 45px 0 0;
				-webkit-box-flex: 0;
				-webkit-flex-grow: 0;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-negative: 0;

				@media screen and (max-width: 991px) {
					padding: 0 15px 0 15px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-bottom: 30px;
				}
				&-title {
					margin: 20px 0 0px;
					-moz-user-select: none;
					-o-user-select:none;
					-khtml-user-select: none;
					-webkit-user-select: none;
					-ms-user-select: none;
					 user-select: none;

					@media screen and (max-width: 991px) {
						margin-top: 0px;
					}

					h3 {
						font-size: 25px;
						line-height: 30px;
						font-weight: bold;
						color: #333333;
						margin: 0;

						@media screen and (max-width: 991px) {
							font-size: 20px;
							line-height: 25px;
						}
					}	
				}
				&-controls {
					margin-top: 59px;
					width: 101px;
					display: flex;
					justify-content: space-between;
					-webkit-box-flex: 0;
					-ms-flex-positive: 0;
					flex-grow: 0;
					-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;

					@media screen and (max-width: 991px) {
						margin-top: 0px;
					}
					> div {
						height: 50px;
						width: 50px;
						background: #e7e7e7;
						display: flex;
						cursor: pointer;
						@media screen and (max-width: 991px) {
							background: #ffffff;
						}
						&:hover {
							.icon {
								fill: #2096d0;
							}
						}
						.icon {
							width: 7px;
							height: 12px;
							margin: auto;
							fill: #000000;
						}
					}
				}
			}
		}

		&-slider {
			margin: 0 0;
			padding: 0;
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			width: 100%;

			@media screen and (max-width: 991px) {
				width: auto;
				margin-left: 15px;
				margin-right: 15px;
			}
			@media screen and (max-width: 480px) {
				margin: 0;
			}
			&-wrapper {
				width: 100%;
				flex-grow: 0;
				flex-shrink: 0;
			}
			&-item {
				position: relative;
				background-color: #fcfcfc;

				.slider-item {
					display: block;
					width: 100%;
					height: 280px;
					display: flex;
					z-index: 2;

					&:hover {
						text-decoration: none;
					}
					img {
						object-fit: cover;
						font-family: 'object-fit: cover;';
						position: absolute;
						left: 50%;
						bottom: 0;
						height: auto;
						max-width: 99.5%;
						transform: translateX(-50%);

						@media screen and (max-width: 420px) {
							bottom: auto;
							top: 20px;
						}
						&.pull-right {
							right: 0;
							left: auto;
							transform: translateX(0);
						}
					}
					&-text {
						position: relative;
						z-index: 2;
						align-self: flex-end;
						width: 100%;
						text-align: center;
						padding: 0 10px 29px;
						text-decoration: none;
					}
					&-title {
						color: #333333;
						font-size: 16px;
						font-weight: 300;
						line-height: 25px;
					}
					&-price {
						color: #2096d0;
						> span {
							color: #999999;
						}
					}
				}
			}
		}
	}
}

@keyframes scrollDown {
	0% {
		top: 20%;
		opacity: 1;
	}
	100% {
		top: 80%;
		opacity: 0;
	}
}