extends ./../templates/common

block appScripts
	script(src='/js/index.min.js')

block append content
	.index_page
		//.index_page-slider
		//	img(src="/assets/img/slider_main.png" srcset="/assets/img/slider_main_phone.png 920w, /assets/img/slider_main.png 921w")