extends ./../templates/common

block appScripts
	script(src='/js/index.min.js')

block vars
	- var menuTransparent = true

block append content
	.index_page
		.index_page-slider
			.index_page-slider-wrapper.swiper-wrapper
				.index_page-slider-item.swiper-slide
					img.index_page-slider-item--image(
					src="/assets/img/slider_main.png"
					)
					//srcset="/assets/img/slider_main_phone.png 320w, /assets/img/slider_main_phone.png 992w"
					//sizes="(max-width: 991px) 50vw, 992px"
					.center-wrapper
						.index_page-slider-content
							.index_page-slider-content-top
								h1 Гаджеты, которые упростят вашу жизнь
							.index_page-slider-content-bottom
								span Мы создали самый удобный и надёжный кабель для iPhone и Android смартфонов. Сверхпрочный кабель Tesla с магнитным коннектором невероятно долговечен.
								br
								br
								a(href="/store.html").link-more-info Подробнее
									div
										span
				.index_page-slider-item.swiper-slide
					img.index_page-slider-item--image(
					src="/assets/img/index-slide2.png"
					)
					//srcset="/assets/img/slider_main_phone.png 320w, /assets/img/slider_main_phone.png 992w"
					//sizes="(max-width: 991px) 50vw, 992px"
					.center-wrapper
						.index_page-slider-content
							.index_page-slider-content-top
								h1 Все ваши данные в полной безопасности
							.index_page-slider-content-bottom
								span Вам больше не стоит беспокоиться о потере фотографий с отпуска или важных данных проекта с работы. Tesla дарит вам спокойствие и надёжность.
								br
								br
								a(href="#").link-more-info Подробнее
									div
										span
				.index_page-slider-item.swiper-slide
					img.index_page-slider-item--image(
					src="/assets/img/index-slide3.png"
					)
					//srcset="/assets/img/slider_main_phone.png 320w, /assets/img/slider_main_phone.png 992w"
					//sizes="(max-width: 991px) 50vw, 992px"
					.center-wrapper
						.index_page-slider-content
							.index_page-slider-content-top
								h1 Третий слайд прекрасен как никогда ранее
							.index_page-slider-content-bottom
								span Мы создали самый удобный и надёжный слайд номер три. Все ваши слайды отныне и навсегда в полной безопасности и тотальной адаптивности. Нам пришлось всей душой полюбить и освоить canvas, Swiper Slider и магию Хогвартса.
								br
								br
								a(href="#").link-more-info Подробнее
									div
										span

			.swiper-pagination

			.mainslider-controls
				.mainslider-controls-next
					+icon('main-arrow-left','')
					.mainslider-controls-next-img
						.mainslider-controls-next-img--wrap
				.mainslider-controls-prev
					.mainslider-controls-prev-img
						.mainslider-controls-prev-img--wrap
					+icon('main-arrow-right','')

			.index_page-slider-bottom
				.copyright © 2017 Tesla Goods Co. ltd
				.scroll-down
					.scroll-down-pin
				ul.socials
					li
						a.socials.socials-facebook(href="#")
							img(src="/assets/img/facebook.svg")
					li
						a.socials.socials-instagram(href="#")
							img(src="/assets/img/instagram.svg")
					li
						a.socials.socials-telegramm(href="#")
							img(src="/assets/img/telegram.svg")

		.index_page-catalog
			.index_page-catalog-wrapper.content-wrapper
				.index_page-catalog-content.row
					.grid-sizer.col-sm-4.col-xs-6
					.index_page-catalog-item.col-sm-8.col-xs-12
						a.catalog-item-content.black.top-left(href="#")
							.catalog-item-header Магнитные кабели
						img(src="/assets/img/catalog/item_wide.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.top-right(href="#")
							.catalog-item-header Powerbank
						img(src="/assets/img/catalog/item1.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.bottom-left(href="#")
							.catalog-item-header Для 
								br
								| автомобиля
						img(src="/assets/img/catalog/item4.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.top-left(href="#")
							.catalog-item-header Чехлы
						img(src="/assets/img/catalog/item2.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.top-right(href="#")
							.catalog-item-header Сетевые адаптеры
						img(src="/assets/img/catalog/item3.png")

		.index_page-popular
			.index_page-popular-wrapper
				.content-wrapper.row#parallaxme
					.popular-controls.col-md-3
						.popular-controls-title
							h3 Популярные
							h3 товары
						.popular-controls-controls
							.popular-controls-controls-left
								+icon('arrow-left','')
							.popular-controls-controls-right
								+icon('arrow-right','')
						a(href="#").catalog-link
							+icon('menu','')
							span Полный каталог
					.swiper-container.index_page-popular-slider.col-md-9
						.swiper-wrapper.index_page-popular-slider-wrapper
							.swiper-slide.index_page-popular-slider-item
								.tesla-item__star
									+icon('star','')
								a.slider-item(href="")
									img(src="/assets/img/catalog/slider1.png")
									.slider-item-text
										.slider-item-title Магнитный кабель
										.slider-item-description Made for iPhone and Qi Compatible Devices
										.slider-item-old-price 2500
										.slider-item-price 1 490
											=" "
											span Р
							.swiper-slide.index_page-popular-slider-item
								.tesla-item__star
									+icon('star','')
								a.slider-item(href="")
									img(src="/assets/img/catalog/slider2.png")
									.slider-item-text
										.slider-item-title Чехол состаренная кожа
										.slider-item-description Made for iPhone and Qi Compatible Devices
										.slider-item-old-price 2500
										.slider-item-price 860
											=" "
											span Р
							.swiper-slide.index_page-popular-slider-item
								.tesla-item__star
									+icon('star','')
								a.slider-item(href="")
									img.pull-right(src="/assets/img/catalog/slider3.png")
									.slider-item-text
										.slider-item-title Powerbank
										.slider-item-description Made for iPhone and Qi Compatible Devices
										.slider-item-old-price 2500
										.slider-item-price 5 800
											=" "
											span Р
							.swiper-slide.index_page-popular-slider-item
								.tesla-item__star
									+icon('star','')
								a.slider-item(href="")
									img(src="/assets/img/catalog/slider1.png")
									.slider-item-text
										.slider-item-title Магнитный кабель
										.slider-item-description Made for iPhone and Qi Compatible Devices
										.slider-item-old-price 2500
										.slider-item-price 1 490
											=" "
											span Р

