extends ./../templates/common

block appScripts
	script(src='/js/index.min.js')

block vars
	- var menuTransparent = true

block append content
	.index_page
		.index_page-slider
			img(
			src="/assets/img/slider_main.png"
			)
			//srcset="/assets/img/slider_main_phone.png 320w, /assets/img/slider_main_phone.png 992w"
			//sizes="(max-width: 991px) 50vw, 992px"
			.index_page-slider-content
				h1 Гаджеты, которые упростят вашу жизнь
				span Мы создали самый удобный и надёжный кабель
				br
				span для iPhone и Android смартфонов. Сверхпрочный кабель Tesla 
				br
				span с магнитным коннектором невероятно долговечен
				br
				br
				a(href="#").index_page-slider-content-more Подробнее
					span
				span.index_page-slider-circle
				span.index_page-slider-circle.circle-blue

			.index_page-slider-bottom
				.copyright © 2017 Tesla Goods Co. ltd
				.scroll-down
					.scroll-down-pin
				ul.socials
					li
						a.socials.socials-facebook(href="#")
							img(src="/assets/img/facebook.svg")
					li
						a.socials.socials-instagram(href="#")
							img(src="/assets/img/instagram.svg")
					li
						a.socials.socials-telegramm(href="#")
							img(src="/assets/img/telegram.svg")

		.index_page-catalog
			.index_page-catalog-wrapper.content-wrapper
				.index_page-catalog-content.row
					.grid-sizer.col-sm-4.col-xs-6
					.index_page-catalog-item.col-sm-8.col-xs-12
						a.catalog-item-content.black.top-left(hre="#")
							.catalog-item-header Магнитные кабели
						img(src="/assets/img/catalog/item_wide.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.top-right(hre="#")
							.catalog-item-header Powerbank
						img(src="/assets/img/catalog/item1.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.bottom-left(hre="#")
							.catalog-item-header Для 
								br
								| автомобиля
						img(src="/assets/img/catalog/item4.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.top-left(hre="#")
							.catalog-item-header Чехлы
						img(src="/assets/img/catalog/item2.png")
					.index_page-catalog-item.col-sm-4.col-xs-6
						a.catalog-item-content.white.top-right(hre="#")
							.catalog-item-header Сетевые адаптеры
						img(src="/assets/img/catalog/item3.png")

		.index_page-popular
			.index_page-popular-wrapper
				.content-wrapper.row
					.popular-controls.col-md-3
						.popular-controls-title
							h3 Популярные товары
						.popular-controls-controls
							.popular-controls-controls-left
								+icon('arrow-left','')
							.popular-controls-controls-right
								+icon('arrow-right','')
						a.popular-controls-link
							+icon('menu','') 
							span Полный каталог
					.swiper-container.index_page-popular-slider.col-md-9
						.swiper-wrapper.index_page-popular-slider-wrapper
							.swiper-slide.index_page-popular-slider-item
								img.slider-item-star(src="/assets/img/star.svg")
								a.slider-item(href="")
									img(src="/assets/img/catalog/slider1.png")
									.slider-item-text
										.slider-item-title Магнитный кабель
										.slider-item-price 1 490
											=" "
											span Р
							.swiper-slide.index_page-popular-slider-item
								img.slider-item-star(src="/assets/img/star.svg")
								a.slider-item(href="")
									img(src="/assets/img/catalog/slider2.png")
									.slider-item-text
										.slider-item-title Чехол состаренная кожа
										.slider-item-price 860
											=" "
											span Р
							.swiper-slide.index_page-popular-slider-item
								img.slider-item-star(src="/assets/img/star.svg")
								a.slider-item(href="")
									img.pull-right(src="/assets/img/catalog/slider3.png")
									.slider-item-text
										.slider-item-title Powerbank
										.slider-item-price 5 800
											=" "
											span Р
							.swiper-slide.index_page-popular-slider-item
								img.slider-item-star(src="/assets/img/star.svg")
								a.slider-item(href="")
									img(src="/assets/img/catalog/slider1.png")
									.slider-item-text
										.slider-item-title Магнитный кабель
										.slider-item-price 1 490
											=" "
											span Р

