.item_page {
	background: #ffffff;
	padding-top: 60px;
	padding-bottom: 80px;

	@media screen and (max-width: 991px) {
	}

	ul.item_page-breadcrump {

		li {

			a {
				//s
			}
		}
	}

	&-description {
		&-more {
			color:#2096d0;
			text-transform: uppercase;
			font-size: 11px;
			margin-top: 25px;
			letter-spacing: 1px;
			display: block;
			span {
				display: inline-block;
				width: 50px;
				height: 1px;
				background: #999999;
				vertical-align: 4px;
				margin-left: 30px;
			}
		}

		.summary-button {
			height: 50px;
			max-width: 220px;
		}

		&-star {
			display: flex;
			width: 50px;
			height: 50px;
			border: 1px solid #e2e0e0;
			cursor: pointer;
			margin-left: 10px;

			&:hover {
				background: #F7F7F7;
			}

			&:active {
				.icon {
					-webkit-transform: scale(0.6);
					transform: scale(0.6);
				}
			}

			.icon {
				margin: auto;
				width: 20px;
				height: 20px;
				-webkit-transition: .35s ease;
				transition: .35s ease;
			}
		}
		.star-set {
			fill: #2096d0;
		}



	}



	.select-length {
		position: relative;
		display: inline-block;

		[type="radio"]:not(:checked), 
		[type="radio"]:checked {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		label {
			cursor: pointer;
			padding: 5px 16px;
			height: 30px;
			color: #666666;
			font-weight: 300;
		}

		[type="radio"]:not(:checked) + label {
			border: 1px solid #e2e0e0;
		}

		[type="radio"]:checked + label {
			border: 1px solid #2096d0;
			color: #2096d0;
		}
	}

	.popular-controls-link {
		color: #2096d0;
		@media screen and (max-width: 991px) {
			display: block;
			align-self: center;
			margin: 30px 0;
		}
		&:hover {
			cursor: pointer;
		}
		.icon {
			width: 14px;
			height: 11px;
			fill: #999999;
			margin-right: 16px;
			margin-top: 45px;
			@media screen and (max-width: 991px) {
				margin-top: 0px;
			}
		}
	}



.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}
.gallery-top {
	height: 500px;
	width: 100%;
}
.gallery-thumbs {
	height: 200px;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}




.pick-color {
	[type="radio"]+label > span {
		border-radius: 50%;
	}
	[type="radio"]+label > span {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		margin: 4px;
		width: 30px;
		height: 30px;
		z-index: 0;
		-webkit-transition: .28s ease;
		transition: .28s ease;
	}
	[type="radio"]:not(:checked)+label > span {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
	[type="radio"]:checked+label > span {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	[type="radio"]+label:after {
		display: none;
	}
}




	.item_page-content {
		&-left,
		&-right {
			background: #ffffff;
		}
		&-left {
		}
	}
}





.item {
	color: red;
}