.item_page {
	background: #ffffff;
	padding-top: 36px;

	@media screen and (max-width: 991px) {
	}

	ul.item_page-breadcrump {
		padding-bottom: 35px;

		li {
			display: inline-block;
			color: #999999;
			font-weight: 300;

			.icon {
				width: 4px;
				height: 7px;
				fill: #cccccc;
				margin-left: 13px;
				margin-right: 16px;
			}

			a {
				color: #333333;
			}
		}
	}


	&-slider {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

	&-thumbs {
		width: 100%;
		padding-top: 23px;
		padding-bottom: 70px;
		box-sizing: border-box;

		&-img {
			margin-bottom: 2px;

			max-width: 16.449275362318840579710144927536%;
			cursor: pointer;
			transition: opacity .3s ease-out;
			-moz-transition: opacity .3s ease-out;
			-webkit-transition: opacity .3s ease-out;
			-o-transition: opacity .3s ease-out;

			&:hover {
				opacity: 0.8;
			}

			img {
				height: auto;
				max-width: 100%;
			}

		}

		.is-active {
			position: relative;

			&:before {
				content: '';
				width: 100%;
				height: 3px;
				background: #2096d0;
				position: absolute;
				bottom: 0px;
			}
		}
	}

	&-item {
		padding-left: 8px;
		font-weight: 300;
		padding-bottom: 70px;

		h1 {
			font-size: 30px;
			font-weight: 300;
			margin: 0px;
			margin-top: -6px;
		}

		&-price {
			display: block;
			margin: 12px 0 9px;
			font-size: 30px;
			font-weight: lighter;
			color: #2096d0;

			> span {
				color: #999999;
			}
		}

		&-text {
			line-height: 25px;
			color: #666666;
		}

		.link-more-info {
			margin-top: 21px;
			letter-spacing: 1px;
			display: block;

			span {
				background: #999999;
			}
		}

		.item-option {
			position: relative;
			display: inline-block;

			[type="radio"]:not(:checked), 
			[type="radio"]:checked {
				position: absolute;
				opacity: 0;
				pointer-events: none;
			}

			label {
				cursor: pointer;
				padding: 5px 16px;
				height: 30px;
				color: #666666;
				font-weight: 300;
				transition: background .2s ease-out;
				-moz-transition: background .2s ease-out;
				-webkit-transition: background .2s ease-out;
				-o-transition: background .2s ease-out;

				&:hover {
					background: #F7F7F7;
				}
			}

			[type="radio"]:not(:checked) + label {
				border: 1px solid #e2e0e0;
			}

			[type="radio"]:checked + label {
				border: 1px solid #2096d0;
				color: #2096d0;
			}
		}

		&-length,
		&-connectors {
			display: flex;
			justify-content: flex-start;
			margin-top: 34px;

			span {
				display: block;
				margin-top: 6px;
			}

			.length-selectors, 
			.connector-selectors {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-left: 30px;

				.item-option {
					margin-right: 10px;

					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}

		&-connectors {
			margin-top: 18px;
		}

		&-color {
			display: flex;
			justify-content: flex-start;

			span {
				display: block;
				margin-top: 10px;
			}

			.pick-color {
				margin-left: 32px;

				p {
					margin-top: 1px;
				}
			}
		}

		&-basket {
			display: flex;
			justify-content: space-between;
			max-width: 280px;
			margin-top: 25px;

			.big-button {
				max-width: 220px;
			}
		}

		&-star {
			display: flex;
			width: 50px;
			height: 50px;
			border: 1px solid #e2e0e0;
			cursor: pointer;
			transition: background .2s ease-out;
			-moz-transition: background .2s ease-out;
			-webkit-transition: background .2s ease-out;
			-o-transition: background .2s ease-out;

			&:hover {
				background: #F7F7F7;
			}

			&:active {
				.icon {
					-webkit-transform: scale(0.6);
					transform: scale(0.6);
				}
			}

			.icon {
				margin: auto;
				width: 20px;
				height: 20px;
				-webkit-transition: .35s ease;
				transition: .35s ease;
			}
		}
		.star-set {
			fill: #2096d0;
		}

		.catalog-link .icon {
		    margin-top: 35px;
		}
	}






	&-order-info {
		background: #f4f2f2;

		.col-sm-6 {
			&:nth-child(2) {
				.item_page-order-info-content {
					padding-left: 23px;
				}
			}
		}

		&-content {
			width: 100%;
			display: flex;
			align-items: flex-start;
			margin-right: -15px;
			margin-left: -15px;
			padding: 60px 0 80px;

			.icon {
				fill: #cccccc;
				-webkit-box-flex: 0;
				-webkit-flex-grow: 0;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;

				&-package {
					width: 34px;
					height: 34px;
				}
				&-speech-bubble {
					width: 36px;
					height: 30px;
				}
			}
		}

		&-text {
			margin-top: -7px;
			padding-left: 16px;
			color: #666666;
			line-height: 25px;

			p {
				margin: 0px;
			}

			a {
				cursor: pointer;
				color: #2096d0;
			}
			//display: block;
		}
	}

	&-discount {
		background: linear-gradient(to bottom, rgba(244,242,242,1) 0%, rgba(244,242,242,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f2', endColorstr='#e7e7e7', GradientType=0 );

		.content-wrapper {
			display: flex;
			justify-content: space-between;
		}

		&-title {
			margin: 0px;

			@media screen and (max-width: 991px) {
				margin-top: 0px;
			}

			h3 {
				font-size: 25px;
				line-height: 30px;
				font-weight: bold;
				color: #333333;
				margin: 0;

				@media screen and (max-width: 991px) {
					font-size: 20px;
					line-height: 25px;
				}
			}	
		}

		&-offer {
			position: relative;
			max-width: 350px;
			width: 100%;
			max-height: 200px;
			margin-left: 20px;

			img {
				max-width: 100%;
				height: auto;
			}

			&-title {
				position: absolute;
				top: 10%;
				left: 8.5%;
				color: #333333;
				font-size: 16px;
				line-height: 25px;
			}
			&-price {
				color: #2096d0;

				.old-price {
					text-decoration: line-through;
					margin-right: 10px;
				}
				> span {
					color: #999999;
				}
			}
		}
	}

	&-descr {
		padding-top: 61px;
		width: 100%;

		a {
			text-decoration: none;
			transition: color .2s ease-out;
			-moz-transition: color .2s ease-out;
			-webkit-transition: color .2s ease-out;
			-o-transition: color .2s ease-out;

			&:visited,
			&:focus,
			&:active {
				text-decoration: none;
				color: #333333;
			}

			&:hover {
				text-decoration: none;
				color: #2096d0;
			}
		}

		&-item {
			display: block;
			width: 100%;
			position: relative;
			padding: 31px 31px 31px 0px;
			border-top: 1px solid #e2e0e0;
			border-bottom: 1px solid #e2e0e0;
			margin-top: -1px;
			font-size: 30px;
			font-weight: 300;
			color: #333333;

			&:hover {
				.cross {
					span {
						background: #2096d0;
					}
				}
			}

			&:last-child {

			}
		}

		.cross {
			width: 21px;
			height: 21px;
			position: absolute;
			right: 0px;
			top: 43px;
			transition: .2s ease;

			span {
				display: block;
				background-color: #000000;
				transition: background .2s ease-out;
				-moz-transition: background .2s ease-out;
				-webkit-transition: background .2s ease-out;
				-o-transition: background .2s ease-out;
			}
			span:nth-child(1) {
				position: absolute;
				top: 10px;
				width: 21px;
				height: 1px;
			}
			span:nth-child(2) {
				position: absolute;
				left: 10px;
				width: 1px;
				height: 21px;
			}
		}

		[aria-expanded="true"] .cross {
			transform: rotate(45deg);
			span {
				background-color: #999999;
			}
		}
	}

	&-gallery {
		margin-top: 70px;
		background: rgba(255,255,255,1);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(244,242,242,1) 50%, rgba(244,242,242,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f2f2', GradientType=0 );

		@media screen and (max-width: 991px) {
			margin: 0;
		}

		&-content {
			margin: 0;
			width: 100%;
			position: relative;
		}

		&-item {
			margin: 0;
			padding: 0;
			overflow: hidden;
			position: relative;

			.gallery-item-content {
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 40px;
				font-size: 30px;
				line-height: 30px;
				font-weight: 300;
				cursor: pointer;
				display: flex;
				justify-content: space-between;

				@media screen and (max-width: 600px) {
					padding: 20px;
					font-size: 20px;
					line-height: 20px;
				}

				&:hover {
					text-decoration: none;
				}
				&.black {
					color: #333333;
				}
				&.white {
					color: #ffffff;
				}
				&.top-left {
					justify-content: flex-start;
					text-align: left;
				}
				&.top-right {
					justify-content: flex-end;
					text-align: right;
				}
				&.bottom-left {
					flex-direction: column;
					justify-content: flex-end;
					text-align: left;
				}
				&.bottom-right {
					flex-direction: column;
					justify-content: flex-end;
					text-align: right;
				}
			}
			img {
				object-fit: cover;
				font-family: 'object-fit: cover;';
				width: 100%;
				height: 100%;
			}
		}
	}

	&-rec {
		background: #f4f2f2;
		padding-top: 63px;
		padding-bottom: 80px;

		.row {
			margin-right: -15px;
			margin-left: -15px;
		}

		h2 {
			font-size: 30px;
			line-height: 35px;
			font-weight: 300;
			margin: 0 0 53px;
		}

		&-item {
			margin: 0 0 20px 0;
			padding: 0 10px;
			overflow: hidden;
			position: relative;
			cursor: pointer;

			@media screen and (max-width: 767px) {
				padding: 0;
				margin: 0;
			}

			.green-button {
				min-height: 50px;
				display: none;
				margin: 20px auto 0px;
				cursor: pointer;

				@media screen and (max-width: 1100px) {
					max-width: 110px;
					min-height: 40px;
					margin: 10px auto 0px;
				}
				@media screen and (max-width: 991px) {
					margin: 20px auto 0px;
				}
				@media screen and (max-width: 850px) {
					margin: 10px auto 0px;
				}
				@media screen and (max-width: 767px) {
					margin: 20px auto 0px;
				}
				@media screen and (max-width: 400px) {
					margin: 10px auto 0px;
				}
			}

			&:hover {
				.rec-item-text {
					border-color: #e7e7e7;
				}
			}
			.rec-item-star {
				position: absolute;
				top: 15px;
				right: 25px;
				width: 16px;
				height: 16px;
				cursor: pointer;
				z-index: 2;

				@media screen and (max-width: 450px) {
					right: 13px;
				}
			}
			.rec-item {
				background-color: #fcfcfc;
				display: block;
				width: 100%;
				position: relative;

				@media screen and (max-width: 767px) {
					border: 1px solid #f4f2f2;
				}
				&:hover {
					text-decoration: none;
				}
				img {
					object-fit: cover;
					font-family: 'object-fit: cover;';
					width: 100%;
					height: 100%;
				}
				&-text {
					height: 100%;
					position: absolute;
					z-index: 2;
					bottom: 0px;
					left: 0;
					right: 0;
					width: 100%;
					text-align: center;
					text-decoration: none;
					border: 2px solid rgba(255,255,255,0);
					transition: border-color .2s ease-out;
					-moz-transition: border-color .2s ease-out;
					-webkit-transition: border-color .2s ease-out;
					-o-transition: border-color .2s ease-out;

					&-wrap {
						position: absolute;
						width: 100%;
						bottom: 0px;
						padding: 0 10px 29px;

						@media screen and (max-width: 1100px) {
							padding: 0 10px 15px;
						}
						@media screen and (max-width: 1100px) {
							padding: 0 10px 29px;
						}
						@media screen and (max-width: 850px) {
							padding: 0 10px 15px;
						}
						@media screen and (max-width: 767px) {
							padding: 0 10px 29px;
						}
						@media screen and (max-width: 400px) {
							padding: 0 10px 15px;
						}
					}
				}
				&-title {
					color: #333333;
					font-size: 16px;
					line-height: 25px;
				}
				&-price {
					color: #2096d0;
					> span {
						color: #999999;
					}
				}
			}
		}
	}
}

