.item_page {
	background: #ffffff;
	padding-top: 36px;
	padding-bottom: 80px;

	@media screen and (max-width: 991px) {
	}

	ul.item_page-breadcrump {
		padding-bottom: 35px;

		li {
			display: inline-block;
			color: #999999;
			font-weight: 300;

			.icon {
				width: 4px;
				height: 7px;
				fill: #cccccc;
				margin-left: 13px;
				margin-right: 16px;
			}

			a {
				color: #333333;
			}
		}
	}

	&-content {

		&-slider {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
		}

		&-thumbs {
			width: 100%;
			padding-top: 23px;
			box-sizing: border-box;

			&-img {
				margin-bottom: 2px;

				max-width: 16.449275362318840579710144927536%;
				cursor: pointer;
				transition: opacity .3s ease-out;
				-moz-transition: opacity .3s ease-out;
				-webkit-transition: opacity .3s ease-out;
				-o-transition: opacity .3s ease-out;

				&:hover {
					opacity: 0.8;
				}

				img {
					height: auto;
					max-width: 100%;
				}

			}

			.is-active {
				position: relative;

				&:before {
					content: '';
					width: 100%;
					height: 3px;
					background: #2096d0;
					position: absolute;
					bottom: 0px;
				}
			}
		}
	}

	&-description {
		padding-left: 8px;
		font-weight: 300;

		h1 {
			font-size: 30px;
			font-weight: 300;
			margin: 0px;
			margin-top: -6px;
		}

		&-price {
			display: block;
			margin: 12px 0 9px;
			font-size: 30px;
			font-weight: lighter;
			color: #2096d0;

			> span {
				color: #999999;
			}
		}

		&-text {
			line-height: 25px;
			color: #666666;
		}

		.link-more-info {
			margin-top: 21px;
			letter-spacing: 1px;
			display: block;

			span {
				background: #999999;
			}
		}

		&-length {
			display: flex;
			justify-content: flex-start;
			margin-top: 34px;

			span {
				display: block;
				margin-top: 6px;
			}

			.length-selectors {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				max-width: 155px;
				margin-left: 30px;

				.select-length {
					margin-right: 10px;

					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}

		&-color {
			display: flex;
			justify-content: flex-start;

			span {
				display: block;
				margin-top: 10px;
			}

			.pick-color {
				margin-left: 32px;

				p {
					margin-top: 1px;
				}
			}
		}

		.big-button {
			max-width: 220px;
		}

		&-star {
			display: flex;
			width: 50px;
			height: 50px;
			border: 1px solid #e2e0e0;
			cursor: pointer;
			margin-left: 10px;
			transition: background .2s ease-out;
			-moz-transition: background .2s ease-out;
			-webkit-transition: background .2s ease-out;
			-o-transition: background .2s ease-out;

			&:hover {
				background: #F7F7F7;
			}

			&:active {
				.icon {
					-webkit-transform: scale(0.6);
					transform: scale(0.6);
				}
			}

			.icon {
				margin: auto;
				width: 20px;
				height: 20px;
				-webkit-transition: .35s ease;
				transition: .35s ease;
			}
		}
		.star-set {
			fill: #2096d0;
		}

		.select-length {
			position: relative;
			display: inline-block;

			[type="radio"]:not(:checked), 
			[type="radio"]:checked {
				position: absolute;
				opacity: 0;
				pointer-events: none;
			}

			label {
				cursor: pointer;
				padding: 5px 16px;
				height: 30px;
				color: #666666;
				font-weight: 300;
				transition: background .2s ease-out;
				-moz-transition: background .2s ease-out;
				-webkit-transition: background .2s ease-out;
				-o-transition: background .2s ease-out;

				&:hover {
					background: #F7F7F7;
				}
			}

			[type="radio"]:not(:checked) + label {
				border: 1px solid #e2e0e0;
			}

			[type="radio"]:checked + label {
				border: 1px solid #2096d0;
				color: #2096d0;
			}
		}
	}



	.gray-background {
		background: #f4f2f2;
	}









	.item_page-content {
		&-left,
		&-right {
			background: #ffffff;
		}
		&-left {
		}
	}
}





.item {
	color: red;
}