extends ./../templates/common

block appScripts
	script(src='/js/item.min.js')

block content
	.item_page
		.content-wrapper

			ul.item_page-breadcrump
				li
					a(href="") Магазин
					+icon('arrow-right','')
				li
					a(href="") Кабели
					+icon('arrow-right','')
				li Магнитный кабель

			.item_page-content.row
				.col-sm-6.col-xs-12.sw

					.item_page-content-slider
						.swiper-wrapper
							.swiper-slide
								img(src="/assets/img/page-item/1.png")
							.swiper-slide
								img(src="/assets/img/page-item/2.png")
							.swiper-slide
								img(src="/assets/img/page-item/3.png")
							.swiper-slide
								img(src="/assets/img/page-item/4.png")
							.swiper-slide
								img(src="/assets/img/page-item/5.png")
							.swiper-slide
								img(src="/assets/img/page-item/6.png")

					.item_page-content-thumbs
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/1.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/2.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/3.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/4.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/5.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/6.png")

						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/1.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/2.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/3.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/4.png")
						.item_page-content-thumbs-img
							img(src="/assets/img/page-item/thumbs/5.png")

				.col-sm-6.col-xs-12
					.item_page-description
						h1 Магнитный кабель
						.item_page-price 1990
							=" "
							span Р
						//-
							p.select-length
								input#discount(name="discount" type="radio")
								label(for="discount") Активируй 10% скидку

						p Сверпрочный кабель с магнитный коннектором невероятно долговечен и удобен в использовании. Оплётка из нейлона устойчива к стиранию и разрыву. Разьём удерживает на месте магнитами, поэтому, если кто-то случайно заденет шнур, он просто и безопастно для смартфона отсоедениться.
						a(href="#").link-more-info Подробнее о товаре
							span
						span Длина кабеля

						br

						p.select-length
							input#length1(name="length" type="radio")
							label(for="length1") 100 м

						br

						p.select-length
							input#length2(name="length" type="radio")
							label(for="length2") 150 м

						br

						span Цвет - серый
						form.pick-color
							p
								input#color1(name="group1" type="radio" checked="true")
								label(for="color1")
									span(style="background: #e7e7ea;")
							p
								input#color2(name="group1" type="radio")
								label(for="color2")
									span(style="background: #e8cbae;")
							p
								input#color3(name="group1" type="radio")
								label(for="color3")
									span(style="background: #4b4d4e;")
						span Коннекторы

						br

						p.select-length
							input#connector1(name="connectors" type="radio")
							label(for="connector1") Lightning + MicroUSB

						br

						p.select-length
							input#connector2(name="connectors" type="radio")
							label(for="connector2") Type + MicroUSB

						br

						.green-button.big-button
							span В корзину

						.item_page-description-star
							+icon('star','')

						a.catalog-link
							+icon('menu','') 
							span Посмотреть все кабели





		.item_page-content.gray-background.row
			.col-sm-6.col-xs-12
				h1.item Страница товара

				+icon('package','')

				+icon('speech-bubble','')

				+icon('cancel','')

			.col-sm-6.col-xs-12

		.content-wrapper
			.index_page-catalog
				.index_page-catalog-wrapper.content-wrapper
					.index_page-catalog-content.row
						.grid-sizer.col-sm-3.col-xs-6
						.index_page-catalog-item.col-sm-6.col-xs-12
							a.catalog-item-content.black.top-left(hre="#")
								.catalog-item-header
							img(src="/assets/img/page-item/photos/1.png")
						.index_page-catalog-item.col-sm-6.col-xs-12
							a.catalog-item-content.white.top-right(hre="#")
								.catalog-item-header
							img(src="/assets/img/page-item/photos/2.png")
						.index_page-catalog-item.col-sm-3.col-xs-6
							a.catalog-item-content.white.bottom-left(hre="#")
								.catalog-item-header
							img(src="/assets/img/page-item/photos/3.png")
						.index_page-catalog-item.col-sm-3.col-xs-6
							a.catalog-item-content.white.top-left(hre="#")
								.catalog-item-header
							img(src="/assets/img/page-item/photos/4.png")

		.content-wrapper
			.item_page-content.gray-background.row
				.col-sm-12.col-xs-12
					h2 Рекомендовано вам
				.catalog_page-catalog-item.col-sm-3.col-xs-6
					img.catalog-item-star(src="/assets/img/star.svg")
					.catalog-item(href="#")
						img(src="/assets/img/page-catalog/7.png")
						.catalog-item-text
							.catalog-item-text-wrap
								.catalog-item-title Powerbank
								.catalog-item-price 5800
									=" "
									span Р
								form.pick-color
									p
										input#color19(name="group1" type="radio" checked="true")
										label(for="color19")
											span(style="background: #e7e7ea;")
									p
										input#color20(name="group1" type="radio")
										label(for="color20")
											span(style="background: #e8cbae;")
									p
										input#color21(name="group1" type="radio")
										label(for="color21")
											span(style="background: #4b4d4e;")
								.green-button
									span В корзину
				.catalog_page-catalog-item.col-sm-3.col-xs-6
					img.catalog-item-star(src="/assets/img/star.svg")
					.catalog-item(href="#")
						img(src="/assets/img/page-item/recom2.png")
						.catalog-item-text
							.catalog-item-text-wrap
								.catalog-item-title Чехол состаренная кожа
								.catalog-item-price 860
									=" "
									span Р
								form.pick-color
									p
										input#color4(name="group1" type="radio" checked="true")
										label(for="color4")
											span(style="background: #e7e7ea;")
									p
										input#color5(name="group1" type="radio")
										label(for="color5")
											span(style="background: #e8cbae;")
									p
										input#color6(name="group1" type="radio")
										label(for="color6")
											span(style="background: #4b4d4e;")
								.green-button
									span В корзину
				.catalog_page-catalog-item.col-sm-3.col-xs-6
					img.catalog-item-star(src="/assets/img/star.svg")
					.catalog-item(href="#")
						img(src="/assets/img/page-item/recom3.png")
						.catalog-item-text
							.catalog-item-text-wrap
								.catalog-item-title Коннектор Type C
								.catalog-item-price 860
									=" "
									span Р
								form.pick-color
									p
										input#color22(name="group1" type="radio" checked="true")
										label(for="color22")
											span(style="background: #e7e7ea;")
									p
										input#color23(name="group1" type="radio")
										label(for="color23")
											span(style="background: #e8cbae;")
									p
										input#color24(name="group1" type="radio")
										label(for="color24")
											span(style="background: #4b4d4e;")
								.green-button
									span В корзину
				.catalog_page-catalog-item.col-sm-3.col-xs-6
					img.catalog-item-star(src="/assets/img/star.svg")
					.catalog-item(href="#")
						img(src="/assets/img/page-catalog/3.png")
						.catalog-item-text
							.catalog-item-text-wrap
								.catalog-item-title Магнитный кабель (1,5м)
								.catalog-item-price 1990
									=" "
									span Р
								form.pick-color
									p
										input#color7(name="group1" type="radio" checked="true")
										label(for="color7")
											span(style="background: #e7e7ea;")
									p
										input#color8(name="group1" type="radio")
										label(for="color8")
											span(style="background: #e8cbae;")
									p
										input#color9(name="group1" type="radio")
										label(for="color9")
											span(style="background: #4b4d4e;")
								.green-button
									span В корзину