extends ./../templates/common

block appScripts
	script(src='/js/item.min.js')

block content
	.item_page
		.content-wrapper

			ul.item_page-breadcrump
				li
					a(href="") Магазин
				li
					a(href="") Кабели
				li Магнитный кабель

			.item_page-content.row
				.col-sm-6.col-xs-12

					.swiper-container.gallery-top
						.swiper-wrapper
							.swiper-slide
								img(src="/assets/img/page-item/1.png")
							.swiper-slide
								img(src="/assets/img/page-item/2.png")
							.swiper-slide
								img(src="/assets/img/page-item/3.png")
							.swiper-slide
								img(src="/assets/img/page-item/4.png")
							.swiper-slide
								img(src="/assets/img/page-item/5.png")
							.swiper-slide
								img(src="/assets/img/page-item/6.png")
							.swiper-slide
								img(src="/assets/img/page-item/7.png")

					.swiper-container.gallery-thumbs
						.swiper-wrapper
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/1.png")
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/2.png")
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/3.png")
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/4.png")
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/5.png")
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/6.png")
							.swiper-slide
								img(src="/assets/img/page-item/thumbs/7.png")

				.col-sm-6.col-xs-12
					.item_page-description
						h1 Магнитный кабель
						.item_page-price 1990
							=" "
							span Р
						span Активируй 10% скидку
						p Сверпрочный кабель с магнитный коннектором невероятно долговечен и удобен в использовании. Оплётка из нейлона устойчива к стиранию и разрыву. Разьём удерживает на месте магнитами, поэтому, если кто-то случайно заденет шнур, он просто и безопастно для смартфона отсоедениться.
						a(href="#").item_page-description-more Подробнее о товаре
							span
						span Длина кабеля

						br

						p.select-length
							input#length1(name="length" type="radio")
							label(for="length1") 100 м

						br

						p.select-length
							input#length2(name="length" type="radio")
							label(for="length2") 150 м

						br

						span Цвет - серый
						form.pick-color
							p
								input#color1(name="group1" type="radio" checked="true")
								label(for="color1")
									span(style="background: #e7e7ea;")
							p
								input#color2(name="group1" type="radio")
								label(for="color2")
									span(style="background: #e8cbae;")
							p
								input#color3(name="group1" type="radio")
								label(for="color3")
									span(style="background: #4b4d4e;")
						span Коннекторы

						br

						p.select-length
							input#connector1(name="connectors" type="radio")
							label(for="connector1") Lightning + MicroUSB

						br

						p.select-length
							input#connector2(name="connectors" type="radio")
							label(for="connector2") Type + MicroUSB

						br

						.button.summary-button
							span В корзину

						a.popular-controls-link
							+icon('menu','') 
							span Посмотреть все кабели

			.item_page-content.gray-background.row
				.col-sm-6.col-xs-12
					h1.item Страница товара
				.col-sm-6.col-xs-12