extends ./../templates/common

block appScripts
	script(src='/js/store.min.js')

block append content
	#parallaxanchor

	.store_page
		.store_page-heading
			.store_page-heading-content
				picture
					source(srcset="/assets/img/store/store_bg.png" media="(min-width: 500px)")
					source(srcset="/assets/img/store/store_bg_mob.png" media="(min-width: 300px)")
					img(src="/assets/img/store/store_bg.png")


				.content-wrapper
					.store_page-heading-content-text
						h1 Все товары компании
						p Полный список продукции компании Tesla
						div.blue-line

		.store_page-categories
			.content-wrapper
				a(href="#powerbanks").store_page-categories-link
					img(src="/assets/img/store/powerbank_h.png")
					div
						p Powerbank
				a(href="#cases").store_page-categories-link
					img(src="/assets/img/store/cases_h.png")
					div
						p Чехлы
				a(href="#adapters").store_page-categories-link
					img(src="/assets/img/store/adapters_h.png")
					div
						p Сетевые адаптеры
				a(href="#forauto").store_page-categories-link
					img(src="/assets/img/store/auto_h.png")
					div
						p Для автомобиля

		.store_page-sticky
			.content-wrapper
				a(href="#cables") Кабели
				a(href="#powerbanks") Powerbank
				a(href="#cases") Чехлы
				a(href="#adapters") Адаптеры
				a(href="#forauto") Авто

		.store_page-category#cables
			img(src="/assets/img/store/cables_bg.png")
			h2 Магнитные кабели

		.store_page-store
			.content-wrapper
				.store_page-store-content.row

					+teslaItem(
						'/page-catalog/3.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/page-catalog/8.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'860'
						)

					+teslaItem(
						'/page-catalog/2.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 100'
						)

					+teslaItem(
						'/page-catalog/3.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/page-catalog/4.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/page-catalog/3.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'860'
						)

					+teslaItem(
						'/page-catalog/8.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 100'
						)


		.store_page-category#powerbanks
			img(src="/assets/img/store/powerbank_bg.png")
			h2 Powerbank

		.store_page-store
			.content-wrapper
				.store_page-store-content.row

					+teslaItem(
						'/store/pb1.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/pb2.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)

					+teslaItem(
						'/store/pb3.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'1 500',
						'1 100'
						)

					+teslaItem(
						'/store/pb1.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/pb4.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/pb5.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)


		.store_page-category#cases
			img(src="/assets/img/store/cases_bg.png")
			h2 Чехлы

		.store_page-store
			.content-wrapper
				.store_page-store-content.row

					+teslaItem(
						'/store/case1.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/case2.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)

					+teslaItem(
						'/store/case3.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'1 500',
						'1 100'
						)

					+teslaItem(
						'/store/case4.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'1 500',
						'1 100'
						)

					+teslaItem(
						'/store/case5.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/case6.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)

					+teslaItem(
						'/store/case7.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)


		.store_page-category#adapters
			img(src="/assets/img/store/adapters_bg.png")
			h2 Сетевые адаптеры

		.store_page-store
			.content-wrapper
				.store_page-store-content.row

					+teslaItem(
						'/store/adp1.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/adp2.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)

					+teslaItem(
						'/store/adp1.png',
						'Коннектор MicroUSB',
						'Made for iPhone and Qi Compatible Devices',
						'1 500',
						'1 100'
						)


		.store_page-category#forauto
			img(src="/assets/img/store/auto_bg.png")
			h2 Для автомобиля


		.store_page-store
			.content-wrapper
				.store_page-store-content.row

					+teslaItem(
						'/store/au1.png',
						'Магнитный кабель',
						'Made for iPhone and Qi Compatible Devices',
						'2 200',
						'1 990'
						)

					+teslaItem(
						'/store/au2.png',
						'Коннектор Type C',
						'Made for iPhone and Qi Compatible Devices',
						'1 200',
						'860'
						)

		.store_page-info
			.content-wrapper
				h2 Tesla в Instagram
				p Узнавайте первыми все последние новинки продукции
				a(href="#") @teslagoods

		.store_page-gallery
			.store_page-gallery-content
				.grid-sizer
				.store_page-gallery-item.grid-40
					img(src="/assets/img/store/gal1.png")
				.store_page-gallery-item.grid-20
					img(src="/assets/img/store/gal2.png")
				.store_page-gallery-item.grid-20
					img(src="/assets/img/store/gal3.png")
				.store_page-gallery-item.grid-20
					img(src="/assets/img/store/gal4.png")
				.store_page-gallery-item.grid-20
					img(src="/assets/img/store/gal6.png")
				.store_page-gallery-item.grid-20
					img(src="/assets/img/store/gal5.png")
				.store_page-gallery-item.grid-20
					img(src="/assets/img/store/gal7.png")
			.store_page-gallery-loadmore
				.cross
					span
					span