extends ./../templates/common

block appScripts
	script(src='/js/store.min.js')

block append content
	.store_page
		.store_page-heading
			.store_page-heading-content
				picture
					source(srcset="/assets/img/store/store_bg.png" media="(min-width: 500px)")
					source(srcset="/assets/img/catalog_main_phone.png" media="(min-width: 300px)")
					img(src="/assets/img/store/store_bg.png")

				.content-wrapper
					.store_page-heading-content-text
						h1 Все товары компании
						p Полный список продукции компании Tesla
						div.blue-line

		.store_page-store
			.content-wrapper
				.store_page-store-content.row

					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/1.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Магнитный кабель (1м)
									.store-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color1(name="group1" type="radio" checked="true")
											label(for="color1")
												span(style="background: #e7e7ea;")
										p
											input#color2(name="group1" type="radio")
											label(for="color2")
												span(style="background: #e8cbae;")
										p
											input#color3(name="group1" type="radio")
											label(for="color3")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/2.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Коннектор MicroUSB
									.store-item-price 1100
										=" "
										span Р
									form.pick-color
										p
											input#color4(name="group1" type="radio" checked="true")
											label(for="color4")
												span(style="background: #e7e7ea;")
										p
											input#color5(name="group1" type="radio")
											label(for="color5")
												span(style="background: #e8cbae;")
										p
											input#color6(name="group1" type="radio")
											label(for="color6")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/3.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Магнитный кабель (1,5м)
									.store-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color7(name="group1" type="radio" checked="true")
											label(for="color7")
												span(style="background: #e7e7ea;")
										p
											input#color8(name="group1" type="radio")
											label(for="color8")
												span(style="background: #e8cbae;")
										p
											input#color9(name="group1" type="radio")
											label(for="color9")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/4.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Магнитный кабель (1,5м)
									.store-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color10(name="group1" type="radio" checked="true")
											label(for="color10")
												span(style="background: #e7e7ea;")
										p
											input#color11(name="group1" type="radio")
											label(for="color11")
												span(style="background: #e8cbae;")
										p
											input#color12(name="group1" type="radio")
											label(for="color12")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/5.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Магнитный кабель (1,5м)
									.store-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color13(name="group1" type="radio" checked="true")
											label(for="color13")
												span(style="background: #e7e7ea;")
										p
											input#color14(name="group1" type="radio")
											label(for="color14")
												span(style="background: #e8cbae;")
										p
											input#color15(name="group1" type="radio")
											label(for="color15")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/6.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Чехол состаренная кожа
									.store-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color16(name="group1" type="radio" checked="true")
											label(for="color16")
												span(style="background: #e7e7ea;")
										p
											input#color17(name="group1" type="radio")
											label(for="color17")
												span(style="background: #e8cbae;")
										p
											input#color18(name="group1" type="radio")
											label(for="color18")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/7.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Powerbank
									.store-item-price 5800
										=" "
										span Р
									form.pick-color
										p
											input#color19(name="group1" type="radio" checked="true")
											label(for="color19")
												span(style="background: #e7e7ea;")
										p
											input#color20(name="group1" type="radio")
											label(for="color20")
												span(style="background: #e8cbae;")
										p
											input#color21(name="group1" type="radio")
											label(for="color21")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/8.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Коннектор Type C
									.store-item-price 860
										=" "
										span Р
									form.pick-color
										p
											input#color22(name="group1" type="radio" checked="true")
											label(for="color22")
												span(style="background: #e7e7ea;")
										p
											input#color23(name="group1" type="radio")
											label(for="color23")
												span(style="background: #e8cbae;")
										p
											input#color24(name="group1" type="radio")
											label(for="color24")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6.dark-image
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/9.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Магнитный кабель (1м)
									.store-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color25(name="group1" type="radio" checked="true")
											label(for="color25")
												span(style="background: #e7e7ea;")
										p
											input#color26(name="group1" type="radio")
											label(for="color26")
												span(style="background: #e8cbae;")
										p
											input#color27(name="group1" type="radio")
											label(for="color27")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину
					.store_page-store-item.col-sm-3.col-xs-6
						img.store-item-star(src="/assets/img/star.svg")
						.store-item
							img(src="/assets/img/page-catalog/10.png")
							.store-item-text
								.store-item-text-wrap
									.store-item-title Магнитный кабель (1м)
									.store-item-price 1990
										=" "
										span Р
									form.pick-color
										p
											input#color28(name="group1" type="radio" checked="true")
											label(for="color28")
												span(style="background: #e7e7ea;")
										p
											input#color29(name="group1" type="radio")
											label(for="color29")
												span(style="background: #e8cbae;")
										p
											input#color30(name="group1" type="radio")
											label(for="color30")
												span(style="background: #4b4d4e;")
									.green-button
										span В корзину