extends ./tmpl.pug
block vars
	- var localPath = '/front/markup/maps'; // Путь к локальным ресурсам
	- var globalCdnPath = "/static"; // Путь к глобальным ресурсам(CDN)
	- var globaPath = "/static"; // Путь к ресурсам маркапа

block html
	+html("ru")

block title
	+title("mos map examples")

block styles
	link(rel="stylesheet" href="/front/markup/header-footer/css/mos_layouts.css?mosRuVersionControlFlag")

block appstyles
	//+statcss(localPath, "/css/app.min.css?mosRuVersionControlFlag")
	+statcss(localPath, "/css/loader.min.css?mosRuVersionControlFlag")

block scripts
	script(src="/front/markup/header-footer/js/markup_layouts.min.js?mosRuVersionControlFlag")
	script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")

block body
	+body()

		block content
			+wrapper
				script.data-mos-map(
				src="front/markup/maps/js/loader.min.js?mosRuVersionControlFlag"
				data-id="asdgsdvawet345yvSRUEuresgdfg"
				)
				script.data-mos-map(
				src="front/markup/maps/js/loader.min.js?mosRuVersionControlFlag"
				data-id="asdgsdvawet345yvSRUEuresgdfg1"
				)

		block footer
			+footer
