include  ./../bower_components/templates/jade/mixins.jade
//- Usage examples
//- +body("advisor","page-advisor")
mixin body(id, cl)
	- cl = cl || "";

	body(
	class=cl
	id=id
	)&attributes(attributes)
		if block
			block